  <div class="d-flex bd-highlight blog-main">
    <div class="p-2 bd-highlight main-left">
      <% @blogs.each do |blog|%>
        <div class="border sub-blog" id="blog" data-id=<%= blog.id%>>
          <%= blog.title%>
          <%= blog.content%>
        </div>
      <% end %>
      <%= link_to "new", new_blog_path%>
    </div>
    <div class="p-2 flex-grow-1 bd-highlight">
      <div class="border main-right" id ="blog-detail">

      </div>
    </div>
  </div>
